body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.glowka {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.logo {
  display: flex;
  text-decoration: none;
}
.simple-Web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.simple-Studio {
  margin-right: 92px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.menu li {
  margin-right: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  color: #2196f3;
}

.info {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.info li {
  margin-right: 50px;
  list-style-type: none;
}

.info li a {
  text-decoration: none;
  color: #757575;
}

.info a:hover {
  color: #2196f3;
}

.style-clic {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}

.style-clic-primary:hover {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.stopa {
  background-color: #2f303a;
}

.dane-kontaktowe {
  margin-top: 60px;
  margin-left: 215px;
}
.Footer-staff {
  text-align: left;
}
.Footer-staff li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
  list-style-type: none;
}

.Footer-staff li:nth-child(2) a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}

.Footer-staff li:nth-child(3) a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.logo-stopka {
  display: inline-block;
  margin-top: 60px;
  margin-left: 215px;
}
.logo-dol {
  text-align: left;
  list-style-type: none;
}

.simple-Web-stopa {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.simple-Studio-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}

.under-script {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.under-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.primar-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.primer-contener {
  background: #2f303a;
}

.lorem {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.lorem-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lorem-list li {
  list-style-type: none;
}

.lorem-text {
  margin-right: 32px;
  text-align: justify;
  flex-direction: row;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.primary-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}
.primary-images li {
  list-style-type: none;
}

.John-Doe {
  text-align: center;
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;
  color: #212121;
}
.wewnetrzna-sekcja-zespol {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
.team li {
  width: 270px;
  list-style-type: none;
  border: 1px solid white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.profession {
  text-align: center;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.style-clic-primary {
  font-family: "Roboto";
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.hfont {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  color: #212121;
}

.container {
  width: 1200px;
  text-align: center;
}

.wewnetrzna-sekcja {
  padding-top: 94px;
  padding-bottom: 94px;
}
