body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 79px;
  border-bottom: 1px solid #ececec;
}
.order-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 79px;
  border-bottom: 1px solid #ececec;
}
.webstudio {
  display: flex;

  flex-basis: 145px;
  height: 31px;
}
.logo {
  display: flex;
  text-decoration: none;
}
.simple-Web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.simple-Studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}
.menu {
  display: flex;
  align-items: center;
}

.menu li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.menu li:first-child {
  margin-left: -308px;
}
.menu li:nth-child(2) {
  margin-left: 43px;
}

.menu li:last-child {
  margin-left: 43px;
}
.menu li a {
  text-decoration: none;
  color: #212121;
}

.menu li a:hover {
  color: #2196f3;
}
.flex-address {
  display: flex;
}
.info {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.info li {
  list-style-type: none;
}

.info li:nth-child(2) {
  margin-left: 20px;
}

.info li a {
  text-decoration: none;
  color: #757575;
}

.info a:hover {
  color: #2196f3;
}
.porzadkowy {
  display: flex;
  justify-content: center;
}
.przyciski {
  display: flex;
  justify-content: center;
}

.przyciski li {
  list-style-type: none;
}

.style-clic {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}

button:hover {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.style-clic-primary {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.stopa {
  background-color: #2f303a;
}

.logo-stopka {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.dane-kontaktowe {
  display: flex;
}

.Footer-staff {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.Footer-staff li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
  list-style-type: none;
}

.Footer-staff li:nth-child(2) a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}

.Footer-staff li:nth-child(3) a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.logo-dol {
  display: flex;

  text-decoration: none;
}

.webstudio-footer {
  display: flex;
}

.simple-Web-stopa {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.simple-Studio-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}

.under-script {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.under-paragraph {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.primar-text {
  max-width: 696px;
  max-height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.primer-contener {
  background: #2f303a;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lorem {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.lorem-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lorem-list li {
  list-style-type: none;
}
.lorem-list li:nth-child(1) {
  margin-top: 10px;
}
.lorem-list li:nth-child(2) {
  margin-top: 10px;
  margin-left: 30px;
}

.lorem-list li:nth-child(3) {
  margin-top: 10px;
  margin-left: 30px;
}
.lorem-list li:nth-child(4) {
  margin-top: 10px;
  margin-left: 30px;
}
.lorem-text {
  text-align: justify;
  flex-direction: row;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.primary-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.primary-images li {
  list-style-type: none;
}

.John-Doe {
  text-align: center;
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;
  color: #212121;
}
.wewnetrzna-sekcja-zespol {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
.team li {
  width: 270px;
  list-style-type: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.profession {
  text-align: center;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.style-clic-primary {
  font-family: "Roboto";
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 42px;

  letter-spacing: 0.06em;

  color: #ffffff;
}

.hfont {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: #212121;
}

.container {
  width: 1200px;

  margin: 0 auto;
}

.wewnetrzna-sekcja {
  padding-top: 94px;
  padding-bottom: 94px;
}

.obrazki {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.obrazki li {
  list-style-type: none;
}

.frame {
  margin: 0 auto;
  gap: 30px;
  border: 1px solid #eeeeee;
}

.wewnetrzna-sekcja-no-pad-bottom {
  padding-top: 94px;
  padding-bottom: 0;
}

.wewnetrzna-sekcja-buttons {
  padding-top: 94px;
  padding-bottom: 50px;
}

.wewnetrzna-sekcja-images {
  padding-top: 0px;
  padding-bottom: 94px;
}
